body {
  margin: 0;
  font-family: sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
}

h1 {
  margin: 12px 0;
  text-align: center;
  font-size: 48px;
}

@media screen and (min-height: 600px) {
  h1 {
    margin: 48px 0;
    font-size: 64px;
  }
}

button {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tap-bpm {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.tap-button {
  flex: 1;
  width: 100%;
  height: 100%;
  font-size: 96px;
  font-weight: bold;
  border-radius: 12px;
  padding: 0;
  transition: background-color 140ms ease-in-out;

  &:hover {
    background-color: #eee;
  }

  &:empty::before {
    content: attr(aria-placeholder);
    color: #999;
    font-style: italic;
    font-size: 48px;
  }

  &[data-confidence='low'] {
    color: oklch(45.5% 0.188 13.697);
  }

  &[data-confidence='medium'] {
    color: oklch(47.6% 0.114 61.907);
  }

  &[data-confidence='high'] {
    color: oklch(43.2% 0.095 166.913);
  }
}

.tap-button.tapped {
  background-color: #ddd;
  transition: none;
}

.reset-button {
  width: 100%;
  font-size: 24px;
}
